$mediumaquamarine: #42a3ce;
$yellow: #e4de94;
$red: #df6464;
$green: #aff5b8;

/* Arriba | Derecha | Abajo | Izquierda */
@mixin margenes($top, $right, $bottom, $left){
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}

/* Arriba | Derecha | Abajo | Izquierda */
@mixin relleno($top, $right, $bottom, $left){
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}

.jumbotron{
    background-image: url("/images/Banner header.jpg");
    background-color: $mediumaquamarine;
    color: black;
    @include margenes(50px, 0px, 0px, 0px);
    background-repeat: repeat;
    position: relative;
    background-size: cover;
    /*height: 220px;*/
    max-width: 100%;
    height: auto;
}

.card-hotel{
    flex: 1 230px;
    @include margenes(10px, 0px, 0px, 0px);
}

footer{
    @include relleno(10px, 10px, 0px, 10px);
    background-color: $mediumaquamarine;
    @include margenes(15px, 0px, 0px, 0px);
}

.footer-address-icon{
    @include relleno(0px, 10px, 0px, 0px);
}

.btn-website{
    width: 100%;
    border-radius: 0px;
}

.btn-contacto{
    display: block;
    @include margenes(0px, auto, 20px, auto);
    width: 90%;
    border-radius: 0px;
}

.img-banner{
    display:block;
    margin:auto;
}

.tab-content{
    @include relleno(20px, 0px, 0px, 0px);
}

.slide{
    @include margenes(15px, 0px, 20px, 0px);
}

/*Color de los links y hover*/
.link { 
    color: black;
}

.link:hover { 
    color: white; 
}

/*Íconos de redes sociales*/
.list-unstyled {
    @include relleno(0px, 0px, 0px, 20px);
    list-style: none;
    }
    
/*Cambio el tamaño de letra o fuente*/
.social-icons .fa {
    font-size: 1.5em;
}
/*Change icons circle size and color here*/
.social-icons .fa {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #FFF;
    color: rgba(255, 255, 255, 0.8);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    }

.social-icons.icon-circle .fa{
    border-radius: 50%;
}

.social-icons.icon-rounded .fa{
    border-radius:5px;
}

.social-icons.icon-flat .fa{
    border-radius: 0;
}
    
.social-icons .fa:hover, .social-icons .fa:active {
    color: #FFF;
    -webkit-box-shadow: 1px 1px 3px #333;
    -moz-box-shadow: 1px 1px 3px #333;
    box-shadow: 1px 1px 3px #333;
}
    
.social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
    
.social-icons.icon-rotate .fa:hover, .social-icons.icon-rotate .fa:active {
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
    transform: scale(1.1) rotate(360deg);
}
    
.social-icons .fa-facebook{background-color:#3C599F;}
.social-icons .fa-instagram{background-color:rgb(206, 61, 136);}
.social-icons .fa-youtube-play{background-color:#C52F30;}
.social-icons .fa-whatsapp{background-color:rgb(40, 209, 72);}
